<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add
         name="LinkITConnectionString"
         connectionString="Server=localhost;Database=LinkIT;User ID=sa;Password=sa;Trusted_Connection=False;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>